:root {
  --color-bg-main: #ffffff;
  --color-text-main: #000000;
  --color-text-header: #ffffff;
  --color-text-menu: #485863;
  --color-border-main: #000000;
  --color-border-header: #ffffff;
  --color-bg-image: #ffffff;
  --color-bg-navbar: #35444f;
  --color-bg-footer: rgba(99, 105, 110, 0.48);
  --color-text-footer: #0c1927;
}

.dark-theme {
  --color-bg-main: #1e1d1d;
  --color-text-main: #e0dfdf;
  --color-text-header: #eae7e7;
  --color-text-menu: #7e9bb0;
  --color-border-main: #ffffff;
  --color-border-header: #000000;
  --color-bg-image: #c4c7c9;
  --color-bg-navbar: #556e80;
  --color-bg-footer: rgba(53, 55, 57, 0.48);
--color-text-footer: #2a5c8d;
}

body {
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  width: 1280px;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  justify-content: space-between;
}

.theme-btn {
  border: 1px solid black;
  margin-top: 88px;
  margin-right: 20px;
  height: 50px;
  width: 140px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  box-sizing: border-box;
  background-color: var(--color-bg-navbar);
  color: var(--color-text-header);
  font-size: 24px;
}

.logo {
  display: block;
  width: 334px;
  height: 79px;
  font-size: 80px;
  line-height: 94px;
  margin: 63px 0 38px;
}

.colortext {
  color: #4bcaff;
}

.navbar {
  width: 100%;
  height: 72px;
  box-sizing: content-box;
  background: var(--color-bg-navbar);
  margin-bottom: 48px;
}

.nav-list {
  display: flex;
  margin-left: 162px;
  margin-right: 133px;
        
}
.nav-list-li {
  border-right: 1px solid var(--color-border-header);
  flex-grow: 1;
}

.nav-list li:first-child {
  border-left: 1px solid var(--color-border-header);
}

.nav-link {
  color: var(--color-text-header);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 72px;
  font-size: 24px;
  line-height: 28px;
  margin: 0 auto;
 }

.nav-link:hover {
  background: #222f3a;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.side-bar {
  border: 1px solid var(--color-border-main);
  width: 344px;
  height: 399px;
}

.side-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.side-list-li {
  height: 20%;
  width: 100%;
}

.side-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 27px;
  line-height: 27px;
  color: var(--color-text-menu);
  padding-left: 44px;
  box-sizing: border-box;
}

.side-link:hover {
  background: #dbdbdb;
  color: #000000;
  justify-content: center;
  padding: 0;
}

.main-content {
  width: 885px;
  height: 832px;
  margin-bottom: 51px;
}

.image-holder {
  width: 885px;
  height: 529px;
  background: var(--color-bg-image);
  border: 1px solid var(--color-border-main);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 37px;
}

.image-holder:hover .image {
  transform: scale(1.3);
}

.image {
  width: 320px;
  transition: transform 0.3s;
}

.main-text {
  font-size: 18px;
  line-height: 24px;
}

.main-content p:first-of-type {
  margin-bottom: 34px;
}

.footer {
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-bg-footer);
  padding: 0 40px;
  box-sizing: border-box;
}

.footer-copy {
  font-size: 24px;
  line-height: 24px;
  width: 190px;
}

.footer-link {
  font-size: 28px;
  line-height: 28px;
  color: var(--color-text-footer);
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 875px;
}

.footer-link:hover {
  color: #3181a6;
  border-bottom: 1px #3181a6 solid;
  padding-bottom: 13px;
}
